<section class="create-gallery">
  <form name="createGalleryForm"
    class="gallery-form"
    ng-submit="createGalleryCtrl.createGallery()">

    <fieldset>
      <label for="name">name</label>
      <input name="name" class="input-std" type="text"
        ng-model="createGalleryCtrl.gallery.name" required>
    </fieldset>

    <fieldset>
      <label for="desc">description</label>
      <input name="desc" class="input-std" type="text"
        ng-model="createGalleryCtrl.gallery.desc" required>
    </fieldset>

    <button class="btn-std" type="submit">create gallery</button>
  </form>
</section>
