<section class="upload-pic">
  <form
    ng-submit="uploadPicCtrl.uploadPic()"
    novalidate>

    <h3>upload a new pic</h3>

    <fieldset>
      <input class="input-std" type="text" ng-model="uploadPicCtrl.pic.name" placeholder="name">
      <input class="input-std" type="text" ng-model="uploadPicCtrl.pic.desc" placeholder="description">
    </fieldset>

    <div>
      <p class="grab-img"
        ngf-select
        ng-model="uploadPicCtrl.pic.file">
        select a pic to upload
      </p>

      <button class="btn-std">upload</button>
    </div>
  </form>
</section>
