<section class="home">
  <create-gallery></create-gallery>

  <input ng-model="homeCtrl.gallerySearchTerm" type="text" placeholder="text">

  <div class="gallery-item-container">
    <ul>
      <gallery-item
        ng-repeat="item in homeCtrl.galleries | gallerySearch: homeCtrl.gallerySearchTerm"
        gallery="item"
        delete-done="homeCtrl.galleryDeleteDone(galleryData)"
        ng-click="homeCtrl.currentGallery = item">
      </gallery-item>
    </ul>
  </div>

  <thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></thumbnail-container></thumbnail-container>
</section>
