// :::: $vars ::::

$brand-primary: #444;
$btn-primary: $brand-primary / 2;
$btn-hover: #31b1c1;
$black: #000;
$white: #fff;
$box-std: 100%;
$gutter-std: 5%;
$gutter-sm: $gutter-std / 2;

// :::: global styles ::::

body {
  font-family: helvetica;
  font-size: 2vw;
  background: $brand-primary * 3;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

h2 {
  font-size: 5vw;
  text-align: center;
  text-decoration: underline;
  color: $brand-primary;
  margin-bottom: $gutter-std;
}

button {
  width: 100%;
  padding: 2% 0;
  margin-bottom: 20px;
  background: $btn-primary / 3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 350ms all;

  &:hover {
    background: $btn-hover;
  }
}

input[type="text"] {
  float: left;
  width: 96%;
  margin-bottom: 2%;
  padding: 2%;
  border: none;
  border-radius: 3px;
}

select {
  width: 100%;
  margin-bottom: 5px;
}

pre {
  overflow: auto;
  width: 100%;
  font-family: monospace;
  margin: $gutter-std;
}

// :::: app styles ::::

nav {
  height: 4vw;
  background: $black;
  padding: 2vw;
  margin-bottom: $gutter-std;

  li {
    display: inline-block;
    margin-right: 3vw;

    a {
      font-size: 3vw;
      color: $white;
      text-shadow: 1px 1px 1px $btn-hover;
    }
  }
}

.container {
  width: 80%;
  margin-left: 10%;
}

.text-binder {
  height: 15vw;
  font-size: 3vw;
  margin: $gutter-std;
  padding: 1vw;
  color: $white;
  background: $brand-primary / 3;
  border: dotted .25vw $brand-primary;

  + input {
    width: 100%;
  }
}
