@import "../../../scss/lib/theme/vars";

.thumbnail {
  margin-top: $gutter-std * 2;

  img {
    width: 100%;
    margin-bottom: $gutter-sm;
  }

  span {
    display: block;
    float: right;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
}
