@import "../../../scss/lib/theme/vars";

.upload-pic {
  h3 {
    font-size: 2.5vw;
    text-decoration: underline;
    margin-bottom: 0;
  }

  fieldset {
    margin-top: 0;

    input {
      margin-bottom: $gutter-sm;
    }
  }

  div {
    text-align: right;

    .grab-img {
      float: left;
      margin-top: 1vw;
      margin-right: $gutter-sm;
      font-size: 2.5vw;
      text-decoration: underline;
    }
  }
}
